<div class="wrapper wrapper-content pd0" ng-controller="expenseTypeController">
<div class="row wrapper border-bottom white-bg page_heading1 bgc8">
    <div class="col-lg-10">
        <h4 class="page_heading_title fc1 fwb">Home</h4>
        <ol class="breadcrumb fc1">
            <li>
                        <a href="index.html">Home</a>
                    </li>
            <li class="active">
                <strong>ExpenseType List</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 text-right">
        <button type="button" ng-click="addOrUpdateExpensesType()" class="btn btn-warning m-t-sm ttu"><i class="fa fa-plus m-r-xs"></i> Add</button>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight pd0">
<div class="row" ng-init="getExpensesTypeList()">
<div class="col-lg-12 pd0">
<div class="ibox float-e-margins">
<!-- <div class="ibox-title">
         <div class="row">
            <div class="col-sm-10">
                 <h3>ExpenseType List
    </h3>
            </div>

            <div class="col-sm-2">
                 
            </div>
        </div>

   
   
</div> -->
<div class="ibox-content">

<table datatable="" class="table table-striped table-bordered table-hover dataTables-example" id="expenseTypelist">
<thead>
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Actions</th>
</tr>
</thead>
<!-- <tbody>
<tr class="gradeX">
    <td>WaterBill</td>
    <td>water bill expense</td>
    <td>Active</td>
    <td class="center text-center"><button class="btn-white btn btn-xs" ui-sref="expenseType.expenseTypeview">View</button></td>
</tr>

<tr class="gradeX">
    <td>WaterBill</td>
    <td>water bill expense</td>
    <td>Active</td>
    <td class="center text-center"><button class="btn-white btn btn-xs" ui-sref="expenseType.expenseTypeview">View</button></td>
</tr>


<tr class="gradeX">
    <td>WaterBill</td>
    <td>water bill expense</td>
    <td>Active</td>
    <td class="center text-center"><button class="btn-white btn btn-xs" ui-sref="expenseType.expenseTypeview">View</button></td>
</tr>


<tr class="gradeX">
    <td>WaterBill</td>
    <td>water bill expense</td>
    <td>Active</td>
    <td class="center text-center"><button class="btn-white btn btn-xs" ui-sref="expenseType.expenseTypeview">View</button></td>
</tr>


<tr class="gradeX">
    <td>WaterBill</td>
    <td>water bill expense</td>
    <td>Active</td>
    <td class="center text-center"><button class="btn-white btn btn-xs" ui-sref="expenseType.expenseTypeview">View</button></td>
</tr>


<tr class="gradeX">
    <td>WaterBill</td>
    <td>water bill expense</td>
    <td>Active</td>
    <td class="center text-center"><button class="btn-white btn btn-xs" ui-sref="expenseType.expenseTypeview">View</button></td>
</tr>

<tr class="gradeX">
    <td>WaterBill</td>
    <td>water bill expense</td>
    <td>Active</td>
    <td class="center text-center"><button class="btn-white btn btn-xs" ui-sref="expenseType.expenseTypeview">View</button></td>
</tr>


</tbody> -->

</table>

</div>
</div>
</div>
</div>

</div>
</div>