<div class="wrapper wrapper-content pd0" ng-controller="branchProductSubscriptionController">
    <div class="row wrapper border-bottom white-bg page_heading1 bgc8">
        <div class="col-lg-10">
            <h4 class="page_heading_title fc1 fwb">Branch Product Subscription</h4>
            <ol class="breadcrumb fc1">
                <li>
                    <a href="index.html"><strong>Home</strong></a>
                </li>
                <li class="active">
                    <strong>Branch Product Subscription List</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2 text-right">
            <button type="button" ng-click="addOrUpdateSubscription()" class="btn btn-warning m-t-sm ttu"><i class="fa fa-plus m-r-xs"></i> Add</button>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight pd0">
        <div class="row" ng-init="getStockPointList()">
            <div class="col-lg-12 pd0">
                <div class="ibox float-e-margins">
                    <!-- <div class="ibox-title">
                        <div class="row">
                            <div class="col-sm-10">
                                <h3>Order Stock Point List</h3>
                            </div>
                            <div class="col-sm-2">
                                
                            </div>
                        </div>
                    </div> -->
                    <div class="ibox-content">
                        <table datatable="" class="table table-striped table-bordered table-hover dataTables-example" id="timingSlotList">
                            <thead>
                                <tr>
                                    <th>Subscription Name</th>
                                    <th>Subscription Value</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="addSubscriptionModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="ibox-title bgc8">
                    <h5 class="fc1">Stock point <span ng-if="!subscription.id">Creation</span><span ng-if="subscription.id">Update</span></h5>
                   <!-- <a ng-click="close()" class="pull-right fc1" data-dismiss="modal"><i class="fa fa-times"></i></a> -->
                   <button type="button" class="close fc1 opacityi" data-dismiss="modal">&times;</button>
                </div>
                <div class="ibox-content" ng-init="getcompanyBranchList()">
                    <form class="form-horizontal ng-pristine ng-valid ng-submitted" name="subscriptionForm">
                        <div class="row">
                        	<div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-4 text-center control-label ">Subscription Name <span class="text-danger">*</span> :</label>
                                    <div class="col-lg-8">
                                        <input type="text" placeholder="Subscription Name" class="form-control" ng-model="subscription.subscriptionName" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-4 text-center control-label ">Subscription Value <span class="text-danger">*</span> :</label>
                                    <div class="col-lg-8">
                                        <input type="text" placeholder="Subscription Value" class="form-control" ng-model="subscription.subscriptionValue" required>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 text-center control-label ">Name <span class="text-danger">*</span> :</label>
                                    <div class="col-lg-8">
                                        <input type="text" placeholder="Name.." class="form-control" ng-model="subscription.name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-2 text-center control-label ">Description <span class="text-danger">*</span> :</label>
                                    <div class="col-lg-8">
                                        <input type="text" placeholder="Enter Description" class="form-control" ng-model="subscription.description" required>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-4 text-center control-label ">Branch Name <span class="text-danger">*</span> :</label>
                                    <div class="col-lg-8">
                                        <select class="form-control fwb" ng-model="orderStockData.companyBranchId" name="entityName" required>
                                            <option ng-repeat="cl in companyBranchList" value="{{cl.id}}">{{cl.entityName}}</option>
                                        </select> 
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-lg-4 text-center control-label ">Order Type <span class="text-danger">*</span> :</label>
                                    <div class="col-lg-8">
                                        <select class="form-control fwb" ng-model="subscription.orderType" required>
                                            <option value="POS">IM-POS</option>
                                            <option value="ECOMMERCE">E-COMMERCE</option>
                                        </select> 
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-lg-12">
                                <div class="form-group">
		                            <label class="col-lg-4 control-label fwb">Status</label>
	                                <div class="col-lg-8 pos_rel">
	                                    <select class="form-control bgc7 fwb" ng-model="subscription.isActive" required="">
	                                        <option value="" ng-selected>Select status</option>
	                                        <option class="true" ng-selected="subscription.status==true">True</option>
	                                        <option class="false" ng-selected="subscription.status==false">False</option>
	                                    </select>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary" type="submit" ng-disabled="subscriptionForm.$invalid" ng-click="createOrUpdateSubscription(subscription)"><span ng-if="!subscription.id" >Save</span><span ng-if="subscription.id">Update</span></button>
                                <button class="btn btn-white" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>