<div class="wrapper wrapper-content pd0" ng-controller="stockTransferCreationController">
	<div class="row wrapper border-bottom white-bg page_heading1 bgc8">
		<div class="col-lg-6">
			<h4 class="page_heading_title fc1 fwb">Stock Transfer Creation</h4>
			<ol class="breadcrumb fc1">
				<li>
					<a href="index.html">Home</a>
				</li>
				<li >
					<a ui-sref="inventory.stocktransfer">Stock Transfer List</a>
				</li>
				<li class="active">
					<strong>Stock Transfer Creation</strong>
				</li>
			</ol>
		</div>
		<div class="col-lg-6">
		   <div class="col-sm-12 text-right m-t-md">
					<button class="btn btn-w-m btn-success" type="submit" ng-click="saveTransfer(transferCreationObj)">TRANSFER</button>
					<button class="btn btn-white"><a ui-sref="inventory.stocktransfer">Cancel</a></button>
			  </div> 
		  
			
		</div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight pd0" navigation-height>

	   
		<div class="row">
			<div class="col-lg-12 pd0">
				<div class="ibox float-e-margins">
					<!-- <div class="ibox-title">
						<div class="row">
							<div class="col-sm-10">
								<h3>Stock Transfer Creation</h3>
							</div>
						</div>
					</div> -->
					<div class="ibox-content">
						<div class="row">
						<div class="col-lg-8">
						  <div class="col-lg-12 col-md-12 col-sm-12">
							<label class="col-lg-2 p-xs" style="text-align: center;">From Branch</label> 
							<div class="col-lg-4">
							  <select class="form-control" ng-model="transferCreationObj.fromBranch" ng-change="branchChange(transferCreationObj.fromBranch)">
								<option value="" ng-selected="">Select From Branch</option>
								<option ng-repeat="cbl in companyBranchResponse" value="{{cbl.id}}">{{cbl.entityName}}</option>
							  </select>
							</div>
						  <!-- </div>
								<div class="col-lg-12 col-md-12 col-sm-12 m-t-xs"> -->
									<label class="col-lg-2 p-xs" style="text-align: center;">To Branch</label> 
									<div class="col-lg-4">
								<select class="form-control" ng-model="transferCreationObj.toBranch">
								<option value="" ng-selected="">Select To Branch</option>
								<option ng-repeat="cbl in companyBranchResponse" value="{{cbl.id}}" ng-disabled="cbl.id==transferCreationObj.fromBranch">{{cbl.entityName}}</option>
								</select>
							</div>
								</div>
								<!-- <div class="col-lg-12 col-md-12 col-sm-12 m-t-xs" ng-model="transferCreationObj.toBranch">
									<label class="col-lg-4">Billing Address</label> 
									<div class="col-lg-8">
										<textarea class="form-control">
											
										</textarea>
									</div>
								</div> -->

							<!-- <div class="col-lg-12 col-md-12 col-sm-12 m-t-xs">
							  <label class="col-lg-4 m-t-xs">State of Supply</label> 
											<div class="col-lg-6">
								<select class="form-control input_style">
									  <option value="" ng-selected="">Select State</option>            
									  <option  value="{{sl.id}}" ng-repeat="sl in stateListObj">{{sl.name}}</option>
									</select>
								</div>
							</div> -->
								</div>
						<!-- <div class="col-lg-4"></div> -->
							<div class="col-lg-4">
								<!-- <div class="col-lg-12 col-md-12 col-sm-12 m-t-xs">
									<label class="col-lg-4 p-t-xs">Order No</label> 
									<div class="col-lg-8">
										<input type="text" class="form-control" ng-model="transferCreationObj.toBranch" />
									</div>
								</div> -->

						  <!-- <div class="col-lg-12 col-md-12 col-sm-12 m-t-xs">
							<label class="col-lg-4 p-t-xs">Transferring Date</label> 
							<div class="col-lg-8 input-daterange" id="datepickertransferdate">
															<input type="text" class="form-control input_style" ng-model="transferCreationObj.transferedDate" name="datepickertransferdate" />
														</div>
						  </div> -->
							</div>
						</div>


											<!-- <div class="col-sm-12 col-lg-12 border-bottom  m-t-xl">
									<div class="col-sm-9">
									  <h4 class="pull-left font-bold" style="font-size: 18px;">Product</h4>
									</div> 
									<div class="col-sm-3">
									  <button class="btn btn-primary btn-w-m m-r-md" type="submit" ng-click="saveTransfer(transferCreationObj)">Save</button>
									  <button class="btn btn-white" ng-click="cancel()">Cancel</button>
									</div>
								  </div> -->

					  <table style="width: 100%;" class="m-t-xl">
												<thead class="items_list_head p-sm">
													<tr class="border-bottom p-xs fw100 m-t-sm" style="font-weight: 600;background: #ffffff;">
														<!-- <th class="p-xs">#</th> -->
														<th class="p-xs">FROM BATCH</th>
														<th class="p-xs">FROM SKU PRODUCT</th>
														<th class="p-xs">QTY</th>
														<th class="p-xs">FROM STOCK POINT</th>
														<th class="p-xs">TO BATCH </th>
														<!-- <th class="p-xs">TO SKU PRODUCT</th>
														<th class="p-xs">TO QTY</th> -->
														<th class="p-xs">TO STOCK POINT</th>
													  <th class="p-xs">UNIT(s)</th>
														<!-- <th class="">UNIT PRICE</th>
													  <th class="">DISCOUNT</th> -->
														<!--  -->
														<th class="p-xs">UOM</th>
														<th class="p-xs"></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="poa in stockTransferItemsList" style="background: #a9a9a914;" class=" bg-default items_list">
														<td class="p-xs text-center">
															<select class="p-xxs" ng-model="poa.fromBatch">
																<option value="" ng-selected="">select from batch name</option>
																<option ng-repeat="sb in stockTransferBatches" value="{{sb.id}}">{{sb.name}}</option>
															</select>
														</td>
														<td style="width: 15%">
															<input type="text" name="" class="form-control" ng-model="poa.fromProductSkuName" ng-keyup="productsSearch(poa.fromProductSkuName,'0'+$index,$index)"/>
															<div class="product_transfer_list_0{{$index}} hide product_transfer_view">
																<ul>
																	<li ng-repeat="sp in skuProductSearchData | filter : poa.fromProductSkuName" ng-click="selectedProduct(sp,$parent.$index,'fromProductSku','0'+$parent.$index)">{{sp.name}} - {{sp.brandName}}</li>
																</ul>
															</div>

															<!-- <select class="product_transfer_view" aria-labelledby="select2-chosen-1" ng-model="poa.productSkuId">
																<option ng-repeat="sp in skuProductSearchData" value="{{sp.id}}">{{sp.name}}</option>
															</select> -->
															<!-- <input type="text" name="" class="form-control" ng-model="poa.productsSearch" /> -->

														</td>
														<td style="position: relative;">
															<input type="text" name="" class="form-control" ng-model="poa.fromSkuQty" placeholder="Only for loose items" />
															<div class="td-info">Only for loose items</div>
														</td>
														<td>
															<select class="p-xxs" ng-model="poa.fromStockPoint">
																<option value="" ng-selected="">select from stock point</option>
																<option ng-repeat="stp in stockTransferStockPoint" value="{{stp.id}}">{{stp.name}}</option>
															</select>
														</td>
														<td class="p-xs text-center">
															<select class="p-xxs" ng-model="poa.toBatch">
																<option value="" ng-selected="">select to batch name</option>
																<option ng-repeat="sb in stockTransferBatches" value="{{sb.id}}">{{sb.name}}</option>
															</select>
														</td>
														<!-- <td>
															<input type="text" name="" class="form-control" ng-model="poa.toProductSku" ng-keyup="productsSearch(poa.toProductSku,'1'+$index,$index)"/>
															<div class="product_transfer_list_1{{$index}} hide product_transfer_view">
																<ul>
																	<li ng-repeat="sp in skuProductSearchData | filter : poa.toProductSku" ng-click="selectedProduct(sp,$parent.$index,'toProductSku','1'+$parent.$index)">{{sp.name}}</li>
																</ul>
															</div>
														</td>
														<td>
															<input type="text" name="" class="form-control" ng-model="poa.toSkuQty" />
														</td>-->
														<td>
															<select class="p-xxs" ng-model="poa.toStockPoint">
																<option value="" ng-selected="">select to stock point</option>
																<option ng-repeat="stp in stockTransferStockPoint" value="{{stp.id}}">{{stp.name}}</option>
															</select>
														</td>
														<td style="position: relative;">
															<input type="text" name="" class="form-control" ng-model="poa.units" placeholder="Only for packed items"  />
															<div class="td-info">Only for packed items</div>
														</td> 
														<!-- <td>
															<select ng-model="poa.uomId" class="p-xxs">
											<option value="" ng-selected="">Select Unit Of Measurement</option>
											<option ng-repeat="uoml in stockTransferUOMs" value="{{uoml.id}}" ng-selected="poa.uomId==uoml.id">{{uoml.unitName}}</option>
										  </select>
										  </td> -->
										  <td>
										  <input type="text" name="" class="form-control" disabled="" ng-model="poa.unitName">
														</td>
														<td><div class="c-p" ng-click="removeProduct($index)"><i class="fa fa-trash-o icon-mid"></i></div></td>
													</tr>
												</tbody>
											</table> 
									  
					  <div class="col-lg-12 m-t-xs p-l-xxs p-r-xxs">
						  <div class="col-lg-4">
							  <button class="btn btn-sm btn-primary" ng-click="newItemAdded()"><i class="fa fa-plus m-r-xs"></i>Add Row</button>
						  </div>
						  <div class="col-lg-2 font-bold"></div>
						  <div class="col-lg-2 font-bold text-left"></div>
						  <div class="col-lg-2"></div>
						  <div class="col-lg-2"></div>
						  <div class="col-lg-2"></div>
						  <div class="col-lg-2 font-bold text-left"></div>
					  </div>





						<div class="row border-bottom ">
						   <div class="col-sm-12 m-t-md"><h4 class="pull-left font-bold">Payment Details</h4></div> 
						</div>
						<!-- Payments Details -->                       
						<div class="row m-t-sm">
							<div class="col-lg-4">
								<div class="col-lg-12">
									<div class="form-group">
										<label class="col-lg-5 p-r-xxs p-l-xxs m-t-xs control-label">Description :</label>

										<div class="col-lg-7">
											<textarea class="form-control"></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 "></div>
							<div class="col-lg-2"></div>
							<div class="col-lg-4">
								<!-- <div class="col-lg-12">
									<div class="form-group">
										<label class="col-lg-4 control-label">Total :</label>

										<div class="col-lg-8 p-r-xxs p-l-xxs">
											<input type="number" placeholder="" class="form-control"> 
										</div>
									</div>
								</div> -->
							</div>
						</div>


							   


						<div class="row m-t-xs">
							<div class="col-lg-4">
								<div class="col-lg-12">
									<div class="form-group">
										<label class="col-lg-5 p-r-xxs p-l-xxs m-t-xs control-label">Ref Doc :</label>

										<div class="col-lg-7">
											<input type="file" placeholder="" class="form-control"> 
										</div>
									</div>
								</div>
							</div>
						</div>  









						<!-- <div class="row ">
							<div class="col-sm-12 text-center m-t-lg m-b-lg">
								<button class="btn btn-primary" type="submit">Save</button>
								<button class="btn btn-white" ng-click="cancel()">Cancel</button>
							  
							</div>
						</div> -->                                  
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


  




<style type="text/css">
	.items_list td input, .items_list td select{
		margin: 10px;
		width: 90%;
   }
   .items_list{
   	border-bottom: 1px solid #000;
   }
	.product_transfer_view{
		z-index: 1;
	position: absolute;
	background: #fff;
	width: 20%;
	height: 300px;
	overflow-y: scroll;
	box-shadow: 2px 2px 2px 2px #ddd;
	}
	.product_transfer_view ul{
		padding: 0px;
	}
	.product_transfer_view ul li{
		list-style: none;
		padding: 10px;
		cursor: pointer;
	border-bottom: 1px solid #ddd;
	}
	.td-info{
		position: absolute;
		bottom: 0px;
		text-align: center;
    left: 10%;
	}
</style>

<script type="text/javascript">
	// $('input[name="datepickertransferdate"]').daterangepicker({
	//     singleDatePicker: true,
	//     showDropdowns: true,
	//     minYear: 1901,
	//     maxYear: parseInt(moment().format('YYYY'),10),
	//     locale: {
	//       format: 'DD-MM-YYYY'
	//     }
	//   }, function(start, end, label) {
	//     var years = moment().diff(start, 'years');
	//     // alert("You are " + years + " years old!");
	//   });
</script>






















