

<div class="wrapper wrapper-content">
<div class="row wrapper border-bottom white-bg page_heading1 bgc8">
    <div class="col-lg-6">
        <h4 class="page_heading_title fc1 fwb">Stock In</h4>
        <ol class="breadcrumb fc1">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Stock In List</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-6">
        <div class="row m-t-xs">
            <div class="col-lg-6"> 
             <div class="form-group" id="data_3">
            <label class="font-noraml fc1">Date Range</label>

            <div class="input-group date">
               <input date-range-picker class="form-control date-picker" type="text" ng-model="app.daterange" />
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div></div>
            <div class="col-lg-6">
                  <div class="form-group" id="data_3">
            <label class="font-noraml fc1">Stock-In From Supplier</label>

            <div class="input-group ">
               <select class="form-control m-b" name="account">
                                <option>All Firms</option>
                                <option>Farmers Best</option>
                                <option>option 3</option>
                                <option>option 4</option>
                            </select> 
                <span class="input-group-addon"><i class="fa fa-down"></i></span>
            </div>
        </div>
            </div>
        </div>
      
        
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" >

   
<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
         <div class="row">
            <div class="col-sm-10">
                 <h3>Stock In List
        <!-- <small>Sort, search</small> -->
    </h3>
            </div>

            <div class="col-sm-2">
                 <button type="button" ui-sref="inventory.stockincreation" class="btn btn-primary btn-sm pull-right"><i class="fa fa-plus m-r-xs"></i>Add Stock</button>
            </div>
        </div>

   
   
</div>
<div class="ibox-content">

<table datatable="" class="table table-striped table-bordered table-hover dataTables-example">
<thead>
<tr>
    <th>Receipt No</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Total Qty</th>
    <th>Received</th>
    <th>Damaged</th>
    <th>Short</th>
    <th>Excess</th>
    <th>SubTotal</th>
    <th>Discount</th>
    <th>Tax</th>
    <th>Charge</th>
    <th>Total</th>
    <th></th>
</tr>
</thead>
<tbody>
<tr class="gradeX">
    <td>65230323</td>
    <td>Knataka</td>
    <td>FarmerBest</td>
    <td>100</td>
    <td>100</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>2500</td>
    <td>500</td>
    <td>10%</td>
    <td>100</td>
    <td>2900</td>
    <td class="center text-center"><button class="btn-white btn btn-xs" ui-sref="sale.saleview">View</button></td>
</tr>


<tr class="gradeX">
    <td>65230323</td>
    <td>Knataka</td>
    <td>FarmerBest</td>
    <td>100</td>
    <td>100</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>2500</td>
    <td>500</td>
    <td>10%</td>
    <td>100</td>
    <td>2900</td>
    <td class="center text-center"><button class="btn-white btn btn-xs" ui-sref="sale.saleview">View</button></td>
</tr>

<tr class="gradeX">
    <td>65230323</td>
    <td>Knataka</td>
    <td>FarmerBest</td>
    <td>100</td>
    <td>100</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>2500</td>
    <td>500</td>
    <td>10%</td>
    <td>100</td>
    <td>2900</td>
    <td class="center text-center"><button class="btn-white btn btn-xs" ui-sref="sale.saleview">View</button></td>
</tr>


<tr class="gradeX">
    <td>65230323</td>
    <td>Knataka</td>
    <td>FarmerBest</td>
    <td>100</td>
    <td>100</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>2500</td>
    <td>500</td>
    <td>10%</td>
    <td>100</td>
    <td>2900</td>
    <td class="center text-center"><button class="btn-white btn btn-xs" ui-sref="sale.saleview">View</button></td>
</tr>

<tr class="gradeX">
    <td>65230323</td>
    <td>Knataka</td>
    <td>FarmerBest</td>
    <td>100</td>
    <td>100</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>2500</td>
    <td>500</td>
    <td>10%</td>
    <td>100</td>
    <td>2900</td>
    <td class="center text-center"><button class="btn-white btn btn-xs" ui-sref="sale.saleview">View</button></td>
</tr>
<tr class="gradeX">
    <td>65230323</td>
    <td>Knataka</td>
    <td>FarmerBest</td>
    <td>100</td>
    <td>100</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>2500</td>
    <td>500</td>
    <td>10%</td>
    <td>100</td>
    <td>2900</td>
    <td class="center text-center"><button class="btn-white btn btn-xs" ui-sref="sale.saleview">View</button></td>
</tr>


<tr class="gradeX">
    <td>65230323</td>
    <td>Knataka</td>
    <td>FarmerBest</td>
    <td>100</td>
    <td>100</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>2500</td>
    <td>500</td>
    <td>10%</td>
    <td>100</td>
    <td>2900</td>
    <td class="center text-center"><button class="btn-white btn btn-xs" ui-sref="sale.saleview">View</button></td>
</tr>
</tbody>

</table>

</div>
</div>
</div>
</div>

</div>




</div>


  


























