<div class="wrapper wrapper-content pd0" ng-controller="stockMovementController">
	<div class="row wrapper border-bottom white-bg page_heading1 bgc8 ng-scope ">
    <div class="col-lg-6">
      <h4 class="page_heading_title fc1 fwb">Stock Movement</h4>
      <ol class="breadcrumb fc1">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li class="active">
          <strong>Stock Movement List</strong>
        </li>
      </ol>
    </div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight pd0" >  
		<div class="row">
			<div class="col-lg-12 pd0">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
         		<div class="row">
            	<div class="col-sm-10"><h3>Stock Movement List</h3></div>
	            <div class="col-sm-2">
	              <button type="button" ui-sref="inventory.stockmovement" class="btn btn-primary btn-sm pull-right ttu"><i class="fa fa-plus m-r-xs"></i>Add Stock Movement</button>
	            </div>
        		</div>  
					</div>
					<div class="ibox-content">
						<table datatable="" class="table table-striped table-bordered table-hover dataTables-example" id="stockMovement">
							<thead>
								<tr>
							    <th>No</th>
							    <th>From Origin StockPoint</th>
							    <th>To Destination Stockpoint</th>
							    <th>Product Name</th>
							    <th>Available Qty</th>
							    <th>Moved Qty</th>
							    <th>Action</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


  


























