<div class="inmodal">

    <div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title bgc8">
                <h5 class="fc1">Cow Milk-Sid Farm </h5>
                <a ng-click="close()" class="pull-right fc1"><i class="fa fa-times"></i></a>
            </div>
            <div class="ibox-content">
                
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            
                            <th>Store</th>
                            <th>Location</th>
                            <th>Quantity</th>
                            <th>Last Updated At</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                           
                            <td>Farmer Best Attapur
                            </td>
                            <td>Attapur</td>
                            <td>10ltr</td>
                            <td>Jul 14, 2013</td>
                            <td><a href="" class="btn btn-xs btn-danger"><i class="fa fa-cross"></i>Stop Billing</a></td>
                        </tr>


                          <tr>
                           
                            <td>Farmer Best Attapur
                            </td>
                            <td>Attapur</td>
                            <td>10ltr</td>
                            <td>Jul 14, 2013</td>
                            <td><a href="" class="btn btn-xs btn-danger"><i class="fa fa-cross"></i>Stop Billing</a></td>
                        </tr>

                          <tr>
                           
                            <td>Farmer Best Attapur
                            </td>
                            <td>Attapur</td>
                            <td>10ltr</td>
                            <td>Jul 14, 2013</td>
                            <td><a href="" class="btn btn-xs btn-danger"><i class="fa fa-cross"></i>Stop Billing</a></td>
                        </tr>

                          <tr>
                           
                            <td>Farmer Best Attapur
                            </td>
                            <td>Attapur</td>
                            <td>10ltr</td>
                            <td>Jul 14, 2013</td>
                            <td><a href="" class="btn btn-xs btn-danger"><i class="fa fa-cross"></i>Stop Billing</a></td>
                        </tr>

                          <tr>
                           
                            <td>Farmer Best Attapur
                            </td>
                            <td>Attapur</td>
                            <td>10ltr</td>
                            <td>Jul 14, 2013</td>
                            <td><a href="" class="btn btn-xs btn-danger"><i class="fa fa-cross"></i>Stop Billing</a></td>
                        </tr>

                          <tr>
                           
                            <td>Farmer Best Attapur
                            </td>
                            <td>Attapur</td>
                            <td>10ltr</td>
                            <td>Jul 14, 2013</td>
                            <td><a href="" class="btn btn-xs btn-danger"><i class="fa fa-cross"></i>Stop Billing</a></td>
                        </tr>

                          <tr>
                           
                            <td>Farmer Best Attapur
                            </td>
                            <td>Attapur</td>
                            <td>10ltr</td>
                            <td>Jul 14, 2013</td>
                            <td><a href="" class="btn btn-xs btn-danger"><i class="fa fa-cross"></i>Stop Billing</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>
  
  
</div>

