<div class="wrapper wrapper-content pd0" ng-controller="stockAdjustableController">
    <div class="row wrapper border-bottom white-bg page_heading1 bgc8">
        <div class="col-lg-10">
            <h4 class="page_heading_title fc1 fwb">Stock Adjustable</h4>
            <ol class="breadcrumb fc1">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">
                    <strong>Stock Adjustable List</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
            <button type="button" data-toggle="modal" ng-click="addOrUpdateStockAdjustable()" class="btn btn-warning m-t-sm btn-sm pull-right ttu"><i class="fa fa-plus m-r-xs"></i>Add</button>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight pd0">
        <div class="row pd15">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                    <label class="col-lg-3 text-center control-label m-t-sm">Category :</label>
                    <div class="col-lg-8">
                        <select class="form-control" ng-model="stockAdjData.category"  required  ng-change="getProductSkuBranchBatchStockPoint('category',stockAdjData.category)">
                            <option value="">select Category</option>
                            <option value="{{catObj.categoryId}}" ng-repeat="catObj in cateObj">{{catObj.categoryName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                    <label class="col-lg-3 text-center control-label m-t-sm">Barcode :</label>
                    <div class="col-lg-8">
                        <select class="form-control" ng-model="stockAdjData.branch" required  ng-change="getProductSkuBranchBatchStockPoint('branch',stockAdjData.branch)">
                            <option value="">select Branch</option>
                            <option value="PLACED">PLACED</option>
                            <option value="CONFIRMED">CONFIRMED</option>
                            <option value="PACKKED">PACKKED</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                    <label class="col-lg-3 text-center control-label m-t-sm">Brand :</label>
                    <div class="col-lg-8">
                        <select class="form-control" ng-model="stockAdjData.brand" required  ng-change="getProductSkuBranchBatchStockPoint('brand',stockAdjData.brand)">
                            <option value="">select Brand</option>
                            <option value="{{brandObj.id}}" ng-repeat="brandObj in brandsListObj">{{brandObj.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="input-group">
                    <button type="button" class="btn btn-w-m btn-warning ttu">SUBMIT</button>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-12 pd0">
                <div class="ibox float-e-margins">
                    <!-- <div class="ibox-title">
         		<div class="row">
            	<div class="col-sm-10">
                <h3>StockPoint List</h3>
            	</div>           
        		</div>
					</div> -->
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover dataTables-example" id="stockAdjTable">
                            <thead>
                                <tr>
                                    <!-- <th>Company Name</th> -->
                                    <th>Product Name</th>
                                    <th>Brand Name</th>
                                    <th>Category Name</th>
                                    <th>Barcode</th>
                                    <th>Units</th>
                                    <th>Unit Name</th>
                                    <th>Batch Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="addStockAdjustableModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title bgc8">
                                <h5 class="fc1">Stock Adjustable Creation</h5>
                                <a ng-click="close()" class="pull-right fc1" data-dismiss="modal"><i class="fa fa-times"></i></a>
                            </div>
                            <div class="ibox-content">
                                <form class=" ng-pristine ng-valid ng-submitted" name="stockpoint">
                                    <div class="row border-bottom">
                                        <div class="col-lg-12">
                                            <!-- <div class="form-group col-lg-6">
                          <label>Company</label> 
                          <select class="form-control" ng-model="stockObj.companyId" ng-change="getCompanyBranch(stockObj.companyId)">
                            <option>Select Company</option>
                            <option ng-repeat="cl in companyList" value="{{cl.id}}">{{cl.entityName}}</option>
                          </select>
                        </div> -->
                                            <div class="form-group col-lg-6">
                                                <label>Company Branch</label>
                                                <select class="form-control" ng-model="stockObj.companyBranchId" required="">
                                                    <option value="" ng-selected="">Select Company Branch</option>
                                                    <option ng-repeat="cbl in companyBranchList" value="{{cbl.id}}" ng-selected="cbl.id == stockObj.companyBranchId">{{cbl.entityName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 m-t-sm">
                                            <div class="form-group col-lg-6">
                                                <label>Name</label>
                                                <input type="text" ng-model="stockObj.name" class="form-control" placeholder="stock point name" required="" />
                                            </div>
                                        </div>
                                        <div class="col-lg-12 m-t-sm">
                                            <div class="form-group col-lg-6">
                                                <label>Description</label>
                                                <textarea rows="5" class="form-control" ng-model="stockObj.description" placeholder="description" required=""></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-t-md">
                                        <div class="col-sm-12 text-center">
                                            <button class="btn btn-primary" type="submit" ng-disabled="stockpoint.$invalid" ng-click="saveStockPoint(stockObj)">Save</button>
                                            <button class="btn btn-white" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>