<!-- <div class="inmodal" >
    <div class="row" ng-controller="categoryController">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Category <span ng-if="!categoryData.id">Creation</span><span ng-if="categoryData.id">Update</span></h5>
                   <a ng-click="close()" class="pull-right"><i class="fa fa-times"></i></a>
                </div>
                <div class="ibox-content">
                    
                </div>
            </div>
        </div>
    </div>
</div> -->

