<div class="row" ng-init="initializeBlock(b.orderOfPlace,1)">
    <div class="col-lg-1">
     {{b.orderOfPlace}}
    </div>
    <div class="col-lg-3">
        <div class="form-group m-t-xs col-lg-4 ng-scope" ng-repeat="sortsItems in b.blockItemModels" ng-if="b.blockItemModels.length>1">
            <div class="col-lg-8 col-md-8 ordering_place">
                <input type="text" class="form-control" ng-model="sortsItems.place" required=""/>
            </div>
            <div class="col-lg-4 col-md-4 p-xs"><span class="" ng-bind="sortsItems.orderOfPlace"></span></div>
        </div>
        <button class="btn w100 f5" ng-click="changeBlockOrder(b.orderOfPlace,sortsItems.place)" ng-if="b.blockItemModels.length>1">CHANGE {{b.blockType}} ORDER</button>
    </div>
    <div class="col-lg-3 mgb10">
        <div class="row text-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bdr1 pd20" ng-repeat="bi in b.blockItemModels track by $index">
                <img src="img/plus.png" width="10%" ng-click="selectImg(b.orderOfPlace,$index+1)" />
                <form runat="server">
                    <input type='file' class="hide" onchange="angular.element(this).scope().variantImage(this,this.id,'cms',this.id,1)" id="cms_{{b.orderOfPlace}}_{{$index+1}}" required="" />
                    <img ng-src="{{bi.imageAbsoluteUrl}}" alt="Image Shown Here" width="100%" id="img_{{b.orderOfPlace}}_{{$index+1}}" />
                </form>
                <div class="block_view" ng-click="addOption(b.orderOfPlace,$index+1)">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </div>
                <div class="block_view_del" ng-click="delblockitem(b.orderOfPlace,$index)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-click="addBlockItem(b.orderOfPlace)">
                <button class="btn w100">ADD</button>
            </div>
            <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-click="deleteBlock($index)">
                <button class="btn w100">DELETE</button>
            </div> -->
        </div>
    </div>
    <div class="col-lg-3">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-click="deleteBlock(b.orderOfPlace)">
                    <button class="btn w100 btn-danger f5">DELETE {{b.blockType}}</button>
                </div>
    </div>
</div>
<style type="text/css">
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload {
    width: 100%;
}
</style>