
<div class="row" ng-init="initializeBlock(b.orderOfPlace,2)">
	<div class="col-lg-3"></div>
	<div class="col-lg-1">{{b.orderOfPlace}}</div>
	<div class="col-lg-3 mgb10">
  		<div class="row text-center">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bdr1 pd20" ng-repeat="bi in b.blockItemModels track by $index">
				<img src="img/plus.png" width="20%" ng-click="selectImg(b.orderOfPlace,$index+1)"/>
				<form id="form{{$index}}" runat="server">
				    <input type='file' class="hide" onchange="angular.element(this).scope().variantImage(this,this.id,'cms',this.id,1)" id="cms_{{b.orderOfPlace}}_{{$index+1}}" required=""/>
				    <img ng-src="{{bi.imageAbsoluteUrl}}" alt="Image Shown Here" width="100%" id="img_{{b.orderOfPlace}}_{{$index+1}}"/>
				</form>
				<div class="block_view" ng-click="addOption(b.orderOfPlace,$index+1)">
					<i class="fa fa-cog" aria-hidden="true"></i>
				</div>
				<div class="block_view_del" ng-click="delblockitem(b.orderOfPlace,$index)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
			</div>
			<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bdr1 pd20">
				<img src="img/plus.png" width="20%" ng-click="selectImg(b.orderOfPlace,2)"/>
				<form id="form1" runat="server">
				    <input type='file' class="hide" onchange="angular.element(this).scope().variantImage(this,this.id,'cms',this.id,2)" id="cms_{{b.orderOfPlace}}_2" required=""/>
				    <img src="{{b.imageUrl}}" alt="Image Shown Here" width="100%" id="img_{{b.orderOfPlace}}_2"/>
				</form>
				<div class="block_view" ng-click="addOption(b.orderOfPlace,2)">
					<i class="fa fa-cog" aria-hidden="true"></i>
				</div>
			</div> -->
		</div>
		<div class="row" >
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-click="addBlockItem(b.orderOfPlace)">
                <button class="btn w100">ADD</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-click="deleteBlock($index)">
                <button class="btn w100">DELETE</button>
            </div>
        </div>
	</div>
</div>



<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  } );
  </script> -->