<div class="wrapper wrapper-content animated fadeInRight pd0" ng-controller="OfferFullfillmentConfigCreationController">
    <div class="row wrapper border-bottom white-bg page_heading1 bgc8">
        <div class="col-lg-10">
            <h4 class="page_heading_title fc1">Offer Config</h4>
            <ol class="breadcrumb fc1">
                <li><a href="index.html">Home</a></li>
                <li class="active">
                    <strong>Offer Config Creation</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <!-- <div class="ibox-title">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3>Offer Config Creation</h3>
                        </div>
                    </div>
                </div> -->
                <div class="ibox-content">
                    <form class="form-horizontal ng-pristine ng-valid ng-submitted" name="offerConfigForm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Name :</label>
                                    <div class="col-lg-8">
                                        <input type="text" placeholder="" class="form-control" ng-model="configCreationObj.name" ng-required="true"> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Priority Code :</label>
                                    <div class="col-lg-8">
                                        <input type="text" placeholder="" class="form-control" ng-model="configCreationObj.priorityCode" ng-required="true"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Towards:</label>
                                    <div class="col-lg-8">
                                        <select class="form-control m-b-xs" name="towards" ng-model="configCreationObj.towards"  required="">
                                            <option value="" ng-selected="">SELECT TOWARDS</option>
                                            <option value="OFFERS">OFFERS</option>
                                            <option value="USER">USER</option>
                                            <option value="VOUCHER">VOUCHER</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Coupon Code :</label>
                                    <div class="col-lg-8">
                                        <input type="text" placeholder="" class="form-control" ng-model="configCreationObj.couponCodes" ng-required="true"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Max Uses Per Customer :</label>
                                    <div class="col-lg-8">
                                        <input type="text" placeholder="" class="form-control" ng-model="configCreationObj.maxUsesPerCustomer" ng-required="true"> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Max Uses:</label>
                                    <div class="col-lg-8">
                                        <input type="text" placeholder="" class="form-control" ng-model="configCreationObj.maxUses" ng-required="true"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Fulfillment Name:</label>
                                    <div class="col-lg-8">
                                        <select class="form-control m-b-xs" name="account" ng-model="configCreationObj.fullfillmentId">
                                            <option value="" ng-selected="">Select Fulfillment Name</option>
                                            <option value="{{ffl.id}}" ng-repeat="ffl in fulfillmentList">{{ffl.name}}</option>
                                        </select> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Is Active :</label>
                                    <div class="col-lg-8">
                                        <select class="form-control m-b-xs" name="account" ng-model="configCreationObj.isActive">
                                            <option value="" ng-selected="">Select...</option>
                                            <option value="true">True</option>
                                            <option value="false">False</option>
                                        </select> 
                                    </div>
                                </div>
                            </div>                          
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Start Date: </label> 
                                    <div class="col-lg-8 input-daterange" id="datepickerstartdate">
                                        <input type="text" class="form-control input_style" ng-model="configCreationObj.startDate" name="datepickerstartdate" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">End Date: </label> 
                                    <div class="col-lg-8 input-daterange" id="datepickerenddate">
                                        <input type="text" class="form-control input_style" ng-model="configCreationObj.endDate" name="datepickerenddate" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row border-bottom">
                            <div class="col-sm-9"><h4 class="pull-left font-bold">Config Include Model</h4></div>
                        </div>
                
                        
                        <div class="row m-t-md border-bottom" >
                            <div class="row cust_block mg10" ng-repeat="configInObj in configInArray">
                                <div class="col-sm-2">
                                    <div class="form-group p-lr-10">
                                        <label>Buy Level Type :</label>
                                        <select class="form-control m-b-xs" name="account">
                                            <option value="CITY">CITY</option>
                                            <option value="CATEGORY">CATEGORY</option>
                                            <option value="BRAND">BRAND</option>
                                            <option value="PRODUCT">PRODUCT</option>
                                            <option value="USER">USER</option>
                                            <option value="DAY">DAY</option>
                                        </select> 
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group p-lr-10">
                                        <label>Buy Level Name :</label>
                                        <select class="form-control m-b-xs" name="account">
                                            <option value="CITY">CITY</option>
                                            <option value="CATEGORY">CATEGORY</option>
                                            <option value="BRAND">BRAND</option>
                                            <option value="PRODUCT">PRODUCT</option>
                                            <option value="USER">USER</option>
                                            <option value="DAY">DAY</option>
                                        </select> 
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group p-lr-10">
                                        <label>Get Level Type :</label>
                                        <input type="text" placeholder="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group p-lr-10">
                                        <label>Get Level Name</label>
                                        <input type="text" placeholder="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group p-lr-10">
                                        <label>Is Active :</label>
                                        <select class="form-control m-b-xs" name="account">
                                            <option>TRUE</option>
                                            <option>FALSE</option>
                                        </select> 
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    <div class="col-sm-12 text-center">
                                        <button class="btn btn-sm"  ng-if="$index == 0" ng-click="conInclude()"><i class="fa fa-plus"></i></button>
                                        <button class="btn btn-sm"  ng-if="$index != 0" ng-click="removeconiclude($parent.$index,$index)"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div class="row border-bottom">
                            <div class="col-sm-9"><h4 class="pull-left font-bold">Config Exclude Model</h4></div>
                        </div>

                        <div class="row m-t-md border-bottom">
                            <div class="row cust_block mg10" ng-repeat="configEnObj in configExArray track by $index">
                                <div class="col-sm-2">
                                    <div class="form-group p-lr-10">
                                        <label>Level Type :</label>
                                        <select class="form-control m-b-xs" name="account">
                                            <option value="" ng-selected=""></option>
                                            <option value="CITY">CITY</option>
                                            <option value="CATEGORY">CATEGORY</option>
                                            <option value="BRAND">BRAND</option>
                                            <option value="PRODUCT">PRODUCT</option>
                                            <option value="USER">USER</option>
                                        </select> 
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group p-lr-10">
                                        <label>Level Name :</label>
                                        <select class="form-control m-b-xs" name="account">
                                            <option value="" ng-selected=""></option>
                                            <option value="CITY">CITY</option>
                                            <option value="CATEGORY">CATEGORY</option>
                                            <option value="BRAND">BRAND</option>
                                            <option value="PRODUCT">PRODUCT</option>
                                            <option value="USER">USER</option>
                                        </select> 
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group p-lr-10">
                                        <label>Is Active :</label>
                                        <select class="form-control m-b-xs" name="account">
                                            <option>TRUE</option>
                                            <option>FALSE</option>
                                        </select> 
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    <div class="col-sm-12 text-center">
                                        <button class="btn btn-sm"  ng-if="$index == 0" ng-click="conExclude(configObj)"><i class="fa fa-plus"></i></button>
                                        <button class="btn btn-sm"  ng-if="$index != 0" ng-click="removeconexclude($parent.$index,$index)"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                            </div> 
                        </div> -->


                        <div class="form-group m-t-xl">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary" type="submit" ng-disabled="offerConfigForm.$invalid" ng-click="configSave(configCreationObj)">Save</button>
                                <button class="btn btn-white" ng-click="goBack()">Cancel</button>
                            </div>
                        </div>
                            
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
							

<script type="text/javascript">
    $(function() {
      $('input[name="datepickerstartdate"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 2020,
        maxYear: parseInt(moment().format('YYYY'),10)
      }, function(start, end, label) {
        var years = moment().diff(start, 'years');
        // alert("You are " + years + " years old!");
      });

      $('input[name="datepickerenddate"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 2020,
        maxYear: parseInt(moment().format('YYYY'),10)
      }, function(start, end, label) {
        var years = moment().diff(start, 'years');
        // alert("You are " + years + " years old!");
      });

    });

</script>