

<div class="wrapper wrapper-content pd0">
<div class="row wrapper border-bottom white-bg page_heading1 bgc8">
    <div class="col-lg-6">
        <h4 class="page_heading_title fc1 fwb">Purchase Creation</h4>
        <ol class="breadcrumb fc1">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li >
                <a ui-sref="purchase.purchaseinvoicelist">Purchase List</a>
            </li>
            <li class="active">
                <strong>Purchase Creation</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-6">
        
      
        
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight pd0">

   
<div class="row">
<div class="col-lg-12 pd0">
<div class="ibox float-e-margins">
<div class="ibox-title">
         <div class="row">
            <div class="col-sm-10">
                 <h3>Purchase Creation
    </h3>
            </div>
        </div>
</div>
<div class="ibox-content">
	<div class="row">
		<div class="col-lg-4">
			<div class="form-group">
				<label>Customer Name</label> 
				<input type="text"  class="form-control">
			</div>
		</div>
		<div class="col-lg-4">
			<div class="form-group">
				<label>Billing Address</label> 
				<input type="text"  class="form-control">
			</div>
		</div>
		<div class="col-lg-4">
			<div class="form-group">
				<label>PO No</label> 
				<input type="text"  class="form-control">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<div class="form-group">
				<label>PO Date</label> 
				<input type="text"  class="form-control">
			</div>
		</div>


        <div class="col-lg-4">
            <div class="form-group">
                <label>State Of Supply</label> 
                <select class="form-control">
                    <option>select state...</option>
                    <option>AP</option>
                    <option>TS</option>
                </select>
            </div>
        </div>
	   <div class="col-lg-4">
            <div class="form-group">
                <label>Stock Point</label> 
                 <select class="form-control">
                                            <option>select stock point</option>
                                            <option>Store WareHouse</option>
                                            <option>Shelf</option>
                                        </select>
            </div>
        </div>
	</div>





<div class="row border-bottom">
   <div class="col-sm-12"><h4 class="pull-left font-bold">Product</h4>
</div> 
</div>
<div class="col-lg-12 border-bottom p-xs fw100 m-t-sm" style="font-weight: 600;">
    
    <div class="col-lg-4 p-r-xxs p-l-xxs">Product</div>
    <div class="col-lg-2 p-r-xxs p-l-xxs">Btach No</div>
    <div class="col-lg-1 p-r-xxs p-l-xxs">Quantity</div>
    <div class="col-lg-1 p-r-xxs p-l-xxs">Unit</div>
    <div class="col-lg-1 p-r-xxs p-l-xxs">Price/Unit</div>
    <div class="col-lg-1 p-r-xxs p-l-xxs text-center">Discount</div>
    <div class="col-lg-1 p-r-xxs p-l-xxs text-center">Tax</div>
    <div class="col-lg-1 p-r-xxs p-l-xxs">Amount</div>

</div>

<div class="col-lg-12 p-xs bg-default m-t-xs" style="background: #a9a9a914;">
    <div class="col-lg-4 p-r-xxs p-l-xxs"><input type="text" name="" class="form-control"></div>
    <div class="col-lg-2 p-r-xxs p-l-xxs"><input type="text" name="" class="form-control"></div>
    <div class="col-lg-1 p-r-xxs p-l-xxs"><input type="text" name="" class="form-control"></div>
    <div class="col-lg-1 p-r-xxs p-l-xxs"><input type="text" name="" class="form-control"></div>
    <div class="col-lg-1 p-r-xxs p-l-xxs"><input type="text" name="" class="form-control"></div>
    <div class="col-lg-1 p-r-xxs p-l-xxs">
         <div class="col-lg-6 p-r-xxs p-l-xxs"><input type="text" name="" class="form-control" placeholder="%"></div>
        <div class="col-lg-6 p-r-xxs p-l-xxs"><input type="text" name="" class="form-control"></div>
    </div>
    <div class="col-lg-1 p-r-xxs p-l-xxs">
        <div class="col-lg-6 p-r-xxs p-l-xxs"><input type="text" name="" class="form-control" placeholder="%"></div>
        <div class="col-lg-6 p-r-xxs p-l-xxs"><input type="text" name="" class="form-control"></div>
    </div>
    <div class="col-lg-1 p-r-xxs p-l-xxs">
        <div class="col-lg-10 p-r-xxs p-l-xxs"><input type="text" name="" class="form-control"></div>
        <div class="col-lg-2 p-r-xxs p-l-xxs c-p"><i class="fa fa-trash-o icon-mid"></i></div>
        </div>
</div>
              
                <div class="col-lg-12 m-t-xs p-l-xxs p-r-xxs">
                        <div class="col-lg-4">
                            <button class="btn btn-sm btn-primary" ng-click="getRowAdded()"><i class="fa fa-plus m-r-xs"></i>Add Row</button>
                        </div>
                        <div class="col-lg-2 font-bold">Total</div>
                        <div class="col-lg-2 font-bold text-left">0</div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-2 font-bold text-left">0</div>
                        </div>

              
                





<div class="row border-bottom ">
   <div class="col-sm-12 m-t-md"><h4 class="pull-left font-bold">Payment Details</h4>
</div> 
</div>
<!-- Payments Details -->                     	
  <div class="row m-t-sm">
                    <div class="col-lg-4">
                     		<div class="col-lg-12">
                                <div class="form-group">
                                	<label>PaymnetType :</label>

                            <input type="email" placeholder="" class="form-control"> 
                            
                        </div>
                    </div>
                     	</div>
                     	<div class="col-lg-2 "></div>
                     	<div class="col-lg-2"></div>
                     	<div class="col-lg-4">
                     		<div class="col-lg-12">
                                <div class="form-group"><label>Total :</label>

                            <input type="email" placeholder="" class="form-control"> 
                            
                        </div></div>
                     	</div>
                     	</div>


        <div class="row m-t-xs">
                    <div class="col-lg-4">
                     		<div class="col-lg-12">
                                <div class="form-group">
                                	<label >Description :</label>

                            <input type="email" placeholder="" class="form-control"> 
                           
                        </div>
                    </div>
                     	</div>
                     	<div class="col-lg-2 "></div>
                     	<div class="col-lg-2"></div>
                     	<div class="col-lg-4">
                     		<div class="col-lg-12">
                                <div class="form-group"><label>Received :</label>

                            <input type="email" placeholder="" class="form-control"> 
                           
                        </div></div>
                     	</div>
                     	</div> 


     <div class="row m-t-xs">
                    <div class="col-lg-4">
                     		<div class="col-lg-12">
                                <div class="form-group">
                                	<label >Ref Doc :</label>

                           <input type="file" placeholder="" class="form-control"> 
                           
                        </div>
                    </div>
                     	</div>
                     	<div class="col-lg-2 "></div>
                     	<div class="col-lg-2"></div>
                     	<div class="col-lg-4">
                     		<div class="col-lg-12">
                                <div class="form-group"><label >Balance :</label>

                            <input type="email" placeholder="" class="form-control"> 
                            
                        </div></div>
                     	</div>
                     	</div>  
<div class="row border-bottom">
   <div class="col-sm-12 m-t-md"><h4 class="pull-left font-bold">Received Details</h4>
</div> 
</div>
<div class="row m-t-sm">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Received User</label> 
                <select  class="form-control">
                    <option>select user</option>
                    <option>user1</option>
                    <option>user2</option>
                    <option>user3</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Comments</label> 
                <textarea class="form-control"></textarea>  
            </div>
        </div>
</div>

                     	 <div class="row ">
                            <div class="col-sm-12 text-center m-t-lg m-b-lg">
                              <button class="btn btn-primary" type="submit">Save</button>
                                <button class="btn btn-white" ng-click="cancel()">Cancel</button>
                              
                            </div>
                        </div>               	            	
</div>
</div>
</div>
</div>

</div>




</div>


  


























